---
const services = [
  {
    image: 'https://cdn.cosmicjs.com/e4f8a740-24bb-11ef-b014-77e5f94e7d68-WhatsApp-Image-2024-06-03-at-4.46.45-PM.jpeg',
    name: 'Scania 410',
    description:
      'The Scania P410 stands out as a powerhouse in the world of heavy-duty trucks, blending impressive performance with unmatched reliability. Engineered with a robust 13-liter engine, the P410 delivers a formidable 410 horsepower, ensuring it can tackle even the most demanding haulage tasks with ease. Its ergonomic design prioritizes driver comfort, featuring an advanced suspension system and a spacious, well-appointed cabin that minimizes fatigue on long journeys',
  },
  {
    image: 'https://cdn.cosmicjs.com/e5ed4070-24bb-11ef-b014-77e5f94e7d68-WhatsApp-Image-2024-06-03-at-4.46.46-PM.jpeg',
    name: 'Scania P360 XT',
    description:
      'The Scania P360 XT is the epitome of rugged durability and versatile functionality, designed specifically for challenging environments and off-road applications. Equipped with a 360-horsepower engine, this truck is engineered to deliver consistent, reliable performance under the toughest conditions',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Fleet Specifications</h2>
      <div class="grid gap-8">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <img 
                class="w-full h-auto object-cover mx-auto rounded-2xl"
                src={service.image}
                alt={`${service.name} image`}
              />
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
