---
const stats = [
  {
    name: 'Years',
    value: '5',
  },
  {
    name: 'Experts',
    value: '2,000',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Miles',
    value: 'Infite & Counting',
  },
];

const images = ["../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png", 
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "../../../public/assets/fleet-haulage.png",
                "https://images.ctfassets.net/eb6m6ouqr4xb/2BVzQc59iu9jWUg2oDpbSL/7a9af9a1a78f979f8fd67fa9bd163f6d/fedora-wallpaper.jpg",
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div class="image-grid ">
        {images.map(image => (
          <img class="hidden xl:block" src={image} alt="Gallery Image" />
        ))}
      </div>
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
               To offer leading logistical services that advance our clients competitive edge, guaranteeing timely, safe, and cost-effective deliveries, a secure workplace, and steadfast integrity in all our partnerships.
            </p>
          </div>
        </div>
        <!-- Vission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Vission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              To become the region's transport and logistics partner of choice, forging enduring customer relationships anchored in trust and satisfaction
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>

<style>
.image-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Divide the grid into 10 columns */
  grid-auto-rows: minmax(50px, auto); /* Define the minimum and maximum row height */
  gap: 5px; /* Adjust the gap between images */
}

.image-grid img {
  width: 100%; /* Occupy the entire width of the grid cell */
  height: auto; /* Maintain aspect ratio */
}

.image-grid img:hover {
  transform: scale(5.5); /* Zoom effect on hover */
}
</style>