---
const team = [
  {
    name: 'Akram Aziz Abdulrasool',
    job: 'Founder & Managing Director',
    descritpion: 'The visionary founder of Caspian Mining & Civils Ltd, now known as Taifa Mining & Civils Ltd, brings over two decades of rich business experience to the table',
  },
  {
    name: 'Jehangir Aziz Abdulrasool',
    job: 'Director',
    descritpion: 'An Economics graduate from the University of Leiden in Holland, Jehangir has a history of successfully managing a company that specialized in the selection and marketing of precious stones across Northern Tanzania',
  },
  {
    name: 'Subramanian Subbaraman',
    job: 'Financial Manager',
    descritpion: 'A seasoned finance expert with 26 years of experience, Subramanian excels in Project Costing and Accounting, with a knack for simplifying complex financial data for executive decision-making',
  },
  {
    name: 'Johan Burden',
    job: 'Head of Transport Operations',
    descritpion: 'Johan joined the Taifa group in January 2023. He is a seasoned operations expert with a 20-year track record in the mining, cement, and construction sectors, having managed projects in Africa, Europe, and Asia.',
  },
  {
    name: 'Azim Kaderbaksh',
    job: 'Human Resources & Admin Manager',
    descritpion: 'Azim began his journey with Taifa Mining & Civils Ltd in June 2006 as a PLI Officer. Committed to his professional growth, he pursued further education in Malaysia, earning a Degree in Human Resource Management from the Asian Pacific University in 2015.',
  },
  {
    name: 'Hamid Mohamed',
    job: 'Operations Manager',
    descritpion: 'Hamid came on board with Taifa Mining & Civils Ltd in December 2019, taking on the role of Transport Manager within the Transport Division.',
  },
  {
    name: 'Happiness Nyiti',
    job: 'Compliance Manager',
    descritpion: 'Happiness has been a valuable member of Taifa Mining & Civils Ltd since 2011, starting as a PLI Officer and advancing to PLI Supervisor in 2016.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Meet our team</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          team.map((item) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <div class="text-center">
                  <h3 class="text-lg font-medium">{item.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{item.job}</p>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{item.descritpion}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
