---
import Heading from '../components/about/Heading.astro';
import Mission from '../components/about/Mission.astro';
import Team from '../components/about/Team.astro';
import Values from '../components/about/Values.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Find more our history, values, mission and more. We are a group of people who share the same values."
  title="About Us Taifa"
>
  <Heading />
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <div
        class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
      >
        <div class="flex flex-col gap-4 sm:gap-6">
          <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-2xl text-lg">
            Established in 2020, Taifa Transport & Logistics Limited (Taifa) has swiftly become a trusted name in the transportation industry, celebrated for our dedication to excellence.

This client-driven growth propelled us to inaugurate a cutting-edge facility in 2021, serving as the operational heart from which we deploy our modern fleet of tractors, trailers, and fuel tankers.

In the dynamic and competitive sector of transportation, we distinguish ourselves as an asset-based provider of transportation solutions, dedicated to exceeding customer expectations through superior service and absolute reliability.

Our skilled drivers, advanced equipment, comprehensive on-site maintenance, and unparalleled customer service team collectively ensure the high-caliber service our clients have come to rely on.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <Mission />
  <Values />
  <Team />
</Layout>
