---
import Hero from '../components/fleet/Hero.astro';
import FleetSpec from '../components/fleet/FleetSpec.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Taifa Transport & Logistics Limited Fleet Information"
  title="Fleet Info Taifa"
>

<Hero />
<FleetSpec />
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <p class="mx-auto max-w-2xl text-lg ">
          By prioritizing preventative care for our vehicles, we ensure not only their longevity and peak performance, but also the safety of our drivers and a minimized environmental impact. This dedication translates to reliable deliveries, reduced downtime, and a continued focus on exceeding expectations for our customers.
        </p>
      </div>
      <a
        href="/contact"
        class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Contact Us
      </a>
    </div>
  </div>
</section>
</Layout>
