---
import Heading from '../components/services/Heading.astro';
import Values from '../components/services/Values.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Find more our history, values, mission and more. We are a group of people who share the same values."
  title="Our Services Taifa Transport & Logistics Limited"
>
  <Heading />
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <div
        class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
      >
        <div class="flex flex-col gap-4 sm:gap-6">
          <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-2xl text-lg">
            No matter your freight needs, we've got you covered. We offer a comprehensive range of logistics and transport solutions, from efficiently transporting liquid and dry bulk materials in our specialized tankers to handling hazardous materials and general cargo. We also have a fleet of tippers for loose materials and the expertise to manage abnormal loads, ensuring even the most challenging deliveries are handled safely and efficiently. Let us take the weight off your shoulders
          </p>
        </div>
        <a
        href="/fleet"
        class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        View Our Fleet
      </a>
      </div>
    </div>
  </section>
  <Values />
</Layout>
