<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Who We Work With
        </h2>
      </div>
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
        <img class="w-full h-40 object-contain" src="https://cdn.cosmicjs.com/8bbbb4b0-24c0-11ef-b014-77e5f94e7d68-Tafia_Mining-removebg-preview.png" alt="Taifa Mining">
        <img class="w-full h-40 object-contain" src="https://cdn.cosmicjs.com/8b5ca4c0-24c0-11ef-b014-77e5f94e7d68-Taifa_gas-removebg-preview.png" alt="Tafia Gas">
        <img class="w-full h-40 object-contain" src="https://cdn.cosmicjs.com/d08d80f0-24c0-11ef-b014-77e5f94e7d68-swala-removebg-preview.png" alt="Swala">
        <img class="w-full h-40 object-contain" src="https://cdn.cosmicjs.com/8a3f11b0-24be-11ef-b014-77e5f94e7d68-Tancoal.webp" alt="Tancoal">
      </div>
    </div>
  </div>
</section>
