---
import About from "./About.astro";
import Customers from "./Customers.astro";
import Services from "./Services.astro";
import Testimonials from "./Testimonials.astro";
---
<section class="py-16 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <img
            class="w-40 h-40"
            :src="$store.theme.isDark ? 'https://cdn.cosmicjs.com/6013b4c0-2a4c-11ef-b014-77e5f94e7d68-taifa-logo.png' : 'https://cdn.cosmicjs.com/6013b4c0-2a4c-11ef-b014-77e5f94e7d68-taifa-logo.png'"
            alt="Taifa Transport Logo"
          />
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Transportation connects the world, logistics keeps it moving.
          </h1>
        </div>
        <section class="py-16 sm:py-20">
          <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
            <div
              class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
            >
              <div class="flex flex-col gap-4 sm:gap-6">
                <p class="mx-auto max-w-2xl text-lg ">
                  Driving Excellence in Every Mile Your Trusted Partner for Safe, Timely, and Cost-Effective Logistics
                </p>
              </div>
              <a
                href="/contact"
                class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Contact Us
              </a>
            </div>
          </div>
        </section>
        
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        width="1280"
        height="640"
        src="/assets/fleet-showcase.png"
        alt="Hero picture"
      />
      <About/>
      <Customers />
      <Services/>
      <Testimonials />
    </div>
  </div>
</section>
