---
const pricing = [
  {
    name: 'MAINTENANCE POLICY',
    description: 'Our Pristine Fleet At Taifa, we understand that the reliability and trust our clients place in us stem from the impeccabile condition of our modern fleet. Each vehicle, upon returning to our terminal is subjected to a thorough inspection and servicing by our skilled technicians to ensure peak performance. Following this, our fleet is meticulously cleaned, prepped, and primed for the next delivery. We take pride in our preventive maintenance program, knowing that it is instrumental in the punctual delivery of our dients cargo',
    periodicity: '/month',
    price: '$10',
  },
  {
    name: 'TRACK & TRACE POLICY',
    description: 'We monitor our shipments with precision. To ensure the security of your valuable shipments and provide you with absolute assurance, Taifa has outfitted our entire fleet with cutting-edge GPS tracking technology. This system grants our dispatch team round-the-clock visibility, allowing them to monitor the whereabouts of our equipment at all times, every day of the week. Beyond bolstering security, our satellite tracking enables uninterrupted communication with our drivers, even beyond the reach of standard cell phone coverage. This feature is crucial for adapting to any necessary changes in routing swiftly. Our commitment is to offer tangible, reliable service to our customers.',
    isFlagged: true,
    periodicity: '/month',
    price: '$25',
  },
  {
    name: 'QUALITY POLICY',
    description: 'Our Quality Commitment At Taifa, our transportation services are underpinned by an Integrated Management System certified to ISO9001, ISO14001, and 15045001 standards. This reflects our unwavering commitment to providing services that are both secure and dependable.',
    periodicity: '',
    price: 'Custom',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-3">
      {
        pricing.map((item) => (
          <div
            class:list={[
              'relative flex flex-col gap-8 rounded-3xl p-8',
              item.isFlagged && 'bg-primary-500/10 dark:bg-primary-400/10',
            ]}
          >
            <div class="flex-1">
              <h2 class="text-xl font-medium">{item.name}</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
